In [331]:
import pandas as pd

In [ ]:
def initData(num):
  return pd.DataFrame([[i] for i in range(num)], columns=['num'])
df = initData(10)
df

In [333]:
def powers(x):
  return x, x**2, x**3, x**4, x**5, x**6

In [334]:
powers(3)

(3, 9, 27, 81, 243, 729)

In [338]:
print(*df['num'].map(powers))

(0, 0, 0, 0, 0, 0) (1, 1, 1, 1, 1, 1) (2, 4, 8, 16, 32, 64) (3, 9, 27, 81, 243, 729) (4, 16, 64, 256, 1024, 4096) (5, 25, 125, 625, 3125, 15625) (6, 36, 216, 1296, 7776, 46656) (7, 49, 343, 2401, 16807, 117649) (8, 64, 512, 4096, 32768, 262144) (9, 81, 729, 6561, 59049, 531441)

In [339]:
df['p1'], df['p2'], df['p3'], df['p4'], df['p5'], df['p6'] = \
  zip(*df['num'].map(powers))

In [340]:
df.head(3)

   num  p1  p2  p3  p4  p5  p6
0    0   0   0   0   0   0   0
1    1   1   1   1   1   1   1
2    2   2   4   8  16  32  64

`list-like results will be turned into columns`

In [343]:
a = df.apply(lambda x: powers(x.num), axis = 1, result_type='expand')

In [344]:
a

   0   1    2     3      4       5
0  0   0    0     0      0       0
1  1   1    1     1      1       1
2  2   4    8    16     32      64
3  3   9   27    81    243     729
4  4  16   64   256   1024    4096
5  5  25  125   625   3125   15625
6  6  36  216  1296   7776   46656
7  7  49  343  2401  16807  117649
8  8  64  512  4096  32768  262144
9  9  81  729  6561  59049  531441

In [345]:
def powers_dict(x):
  return dict({'p1':x, 'p2':x**2, 'p3':x**3, 'p4':x**4, 'p5':x**5, 'p6':x**6})

In [346]:
df = initData(10)

In [347]:
b = pd.concat([df,df.apply(lambda x: powers_dict(x.num), axis = 1, result_type='expand')], axis = 1)
b

   num  p1  p2   p3    p4     p5      p6
0    0   0   0    0     0      0       0
1    1   1   1    1     1      1       1
2    2   2   4    8    16     32      64
3    3   3   9   27    81    243     729
4    4   4  16   64   256   1024    4096
5    5   5  25  125   625   3125   15625
6    6   6  36  216  1296   7776   46656
7    7   7  49  343  2401  16807  117649
8    8   8  64  512  4096  32768  262144
9    9   9  81  729  6561  59049  531441

In [348]:
def powers_dict_auto(x, colCount = 6):
  return dict(zip([f'p{ind+1}' for ind in range(colCount)], [x**(ind+1) for ind in range(colCount)]))

In [ ]:
pd.concat([df,df.apply(lambda x: powers_dict_auto(x.num,10), axis = 1, result_type='expand')], axis = 1)

### Тестовый заезд

In [369]:
df = initData(100_000)

In [358]:
%%time
df['p1'], df['p2'], df['p3'], df['p4'], df['p5'], df['p6'] = \
  zip(*df['num'].map(powers))

CPU times: total: 250 ms
Wall time: 259 ms

In [ ]:
%%time
pd.concat([df,df.apply(lambda x: powers_dict(x.num), axis = 1, result_type='expand')], axis = 1)

In [ ]:
%%time
pd.concat([df,df.apply(lambda x: powers_dict(*x), axis = 1, result_type='expand')], axis = 1)

In [ ]:
df.num.apply(lambda x: powers_dict(x))

In [ ]:
%%time
pd.concat([df,pd.json_normalize(df.num.apply(lambda x: powers_dict(x)))],axis = 1)

In [ ]:
%%time
df['p1'] = df.num.apply(lambda x: x**1)
df['p2'] = df.num.apply(lambda x: x**2)
df['p3'] = df.num.apply(lambda x: x**3)
df['p4'] = df.num.apply(lambda x: x**4)
df['p5'] = df.num.apply(lambda x: x**5)
df['p6'] = df.num.apply(lambda x: x**6)
df

In [373]:
%%time
df['p1'] = df.apply(lambda x: x.num**1, axis = 1)
df['p2'] = df.apply(lambda x: x.num**2, axis = 1)
df['p3'] = df.apply(lambda x: x.num**3, axis = 1)
df['p4'] = df.apply(lambda x: x.num**4, axis = 1)
df['p5'] = df.apply(lambda x: x.num**5, axis = 1)
df['p6'] = df.apply(lambda x: x.num**6, axis = 1)
df

CPU times: total: 4.84 s
Wall time: 4.84 s

,num,p1,p2,p3,p4,p5,p6
0,0,0,0,0,0,0,0
1,1,1,1,1,1,1,1
2,2,2,4,8,16,32,64
3,3,3,9,27,81,243,729
4,4,4,16,64,256,1024,4096
...,...,...,...,...,...,...,...
99995,99995,99995,9999000025,999850007499875,99980001499950000625,9997500249987500312496875,999700037497500093748125015625
99996,99996,99996,9999200016,999880004799936,99984000959974400256,9998000159993600127998976,999760023998720038399385604096
99997,99997,99997,9999400009,999910002699973,99988000539989200081,9998500089997300040499757,999820013499460012149854200729
99998,99998,99998,9999600004,999940001199992,99992000239996800016,9999000039999200007999968,999880005999840002399980800064
99999,99999,99999,9999800001,999970000299999,99996000059999600001,9999500009999900000499999,999940001499980000149999400001