In [1]:
import pandas as pd
import numpy as np

In [2]:
def create_DB(size):
  df = pd.DataFrame()
  df['city'] = np.random.choice(['Paris','Milan','Vienna','Amsterdam','Berlin'],size)
  df['team'] = np.random.choice(['Team A','Team B','Team C','Team D','Team E'],size)
  df['age'] = np.random.randint(18,40,size)
  df['win'] = np.random.choice(['yes','no'],size)
  dates = pd.date_range('2022-01-01','2023-01-01')
  df['date'] = np.random.choice(dates,size)
  df['rate'] =np.random.uniform(0,1,size)
  
  return df 


def set_dtypes(df):
  df.city = df.city.astype('category')
  df.team = df.team.astype('category')
  df.age = df.age.astype('int16')
  df.win = df.win.map({'yes': True, 'no': False})
  df.rate = df.rate.astype('float32')
  return df

In [ ]:
a = create_DB(2_000_000)
a.info()

In [ ]:
%timeit a.age = a.age + 20

In [ ]:
a = create_DB(2_000_000)
a = set_dtypes(a)
a.info()

In [ ]:
%timeit a.age = a.age + 20

In [8]:
a = create_DB(2_000_000)

In [ ]:
%timeit a[a.city.isin(['Paris','Milan'])]

In [ ]:
a = create_DB(2_000_000)
a = set_dtypes(a)
%timeit a[a.city.isin(['Paris','Milan'])]